#board {
    background-image: url("./images/flappybirdbg.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

canvas {
    background-image: url("./images/flappybirdbg.png");
    background-repeat: no-repeat;
    background-color: #87cfeb00;
    border: 6px dashed black;
    max-width: 100%;
    height: auto;
}